<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= app.name %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="THE FriendList Tool app" />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>

    <script type="text/javascript">
      var access_token='';
      function logResponse(response) {
        if (console && console.log) {
          console.log('The response was', response);
        }
      }
  
      $(function(){
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#delcrit').click(function() {
          $('#crit_list option:selected').remove();
          if($('#crit_list option').size() > 0 && $('#srch-runnow').attr('checked')){
          }
            });
            
        
       $('#delallcrit').click(function() {
          $('#crit_list').children().remove();
          $('#searchresults').empty();
        });
        
        $('#buildergo').click(function() {
          var flid=$("#friendlist_select").val();
          var flname=$("#friendlist_select option:selected").text();
          var op=$("#searchop  option:selected").val();
          var optxt=$("#searchop option:selected").text();
          //var critval=op+' flid=|'+flid+'|';
          var critval=op+flid;
          // alert(critval);
          var crittext=optxt+' '+flname;
           $('#crit_list').append('<option value="' + critval + '">' + crittext + '</option>');
        });
        
        
        
        var successHandler = function (data) {
                alert(data);
                $('#searchresults').empty();
                var view= $('input:radio[name=srch-view]:checked').val();
                var content ='';
                if(view =='list')content ='<ul>';
                $(content).appendTo("#searchresults");
                $.each(data, function(i,member){
                  if(view =='list'){
                    content = '<li><input type="checkbox" name="member_select_list" value="'+member.uid+'"><a href="https://www.facebook.com/'+member.uid+'" target="_top"><img src="https://graph.facebook.com/'+member.uid+'/picture?type=square" alt="'+member.name+'">'+member.name+'</a></li>';
                  }else{
                    //stream view
                    content = '<div class="clearfix storyContent"> <a id="js_11" aria-haspopup="true" aria-controls="js_10" aria-owns="js_10" class="actorPhoto lfloat" href="https://www.facebook.com/'+member.uid+'" target="_top"aria-hidden="true" data-ft="{&quot;type&quot;:60,&quot;tn&quot;:&quot;\u003C&quot;}" data-hovercard="https://www.facebook.com/ajax/hovercard/hovercard.php?id='+member.uid+'"><img class="_s0 profilePic _rw img" src="https://graph.facebook.com/'+member.uid+'/picture?type=square" alt="'+member.name+'"></a><div class="storyInnerContent"><div class="mainWrapper"><div role="article"><h5 tabindex="0" class="uiStreamMessage uiStreamHeadline" data-ft="{&quot;tn&quot;:&quot;:&quot;}"><div class="actorDescription actorName" data-ft="{&quot;type&quot;:2,&quot;tn&quot;:&quot;:&quot;}"><a href="https://www.facebook.com/'+member.uid+'?ref=stream" data-ft="{&quot;tn&quot;:&quot;;&quot;}" data-hovercard="https://www.facebook.com/ajax/hovercard/page.php?id='+member.uid+'">'+member.name+'</a></div></h5><h5 class="uiStreamMessage userContentWrapper" data-ft="{&quot;type&quot;:1,&quot;tn&quot;:&quot;K&quot;}"> <span class="messageBody" data-ft="{&quot;type&quot;:3}"><div><span class="userContent"><div id="id_50eb2f3a8077a9466213037" class="text_exposed_root">'+member.message+'</div></span></div></span></h5>';
                }
                $(content).appendTo("#searchresults");
                });//end of each
                if(view =='list'){
                  content ='<ul>';
                  $(content).appendTo("#searchresults");
                }
                return false;
              }// end of success function
              
        var searchClick = function() {
          var qstr='';
          var view= $('input:radio[name=srch-view]:checked').val();
          var inlist=''; var outlist='';
          $('#crit_list > option').each(function() {
            if($(this).val()> 0){
              if(inlist.length >0)inlist=inlist+',';
              inlist=inlist+$(this).val();
            }else{
              if(outlist.length >0)outlist=outlist+',';
              outlist=outlist+Math.abs($(this).val());
            }
          }); // close out the each loop
          
          if (view == 'list') {
         qstr='SELECT uid, name, pic_square FROM user WHERE uid in (SELECT uid FROM friendlist_member WHERE 1=1 ';
         if (inlist.length) qstr=qstr+' AND flid in ('+inlist+') ';
          if (outlist.length) qstr=qstr+' AND NOT flid in ('+outlist+') ';
          qstr=qstr+') ';
        }else{
          qstr='SELECT post_id, actor_id, target_id, message,uid, name, pic_square   FROM stream  WHERE source_id in (SELECT uid FROM friendlist_member WHERE 1=1  ';
          if (inlist.length) qstr=qstr+' AND flid in ('+inlist+') ';
          if (outlist.length) qstr=qstr+' AND NOT flid in ('+outlist+') ';
          qstr=qstr+') ';
        }
        
           // qstr= encodeURI(qstr.replace('|', '"'));
           //qstr= encodeURI(qstr);
           // var dataString='view='+view+'&qstr='+qstr  ;
              alert (qstr);
             // return false;
             FB.api({
                method: 'fql.query',
                query: qstr
            },successHandler
            /* function(response){
                if (response[0]) {
                    $("#container_like").show();
                } else {
                    $("#container_notlike").show();
                }
            } */
            );
          /*  removed to try fb  mthod direct$.ajax({
              type: "POST",
              url: "/search",
              data: { 'view': view, 'qstr': qstr, 'access_token':access_token },
              success: successHandler, */
             /* not working error: function(data) {
                 val errstr='';
                $.each(data, function(i,member){
                  errstr=errstr+'|'+i+'='+member;
                  $.each(member, function(k,element){
                     errstr=errstr+'('+k+'='+element+')';
                  });
                  errstr=errstr+'|';
                });
                alert('ERROR:'+errstr);
              }*/
              
           /* });//end ajax */
            
        }
        
        $('#searchgo').click(searchClick); //end searchgo click
        
        
        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
        
      });
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          // window.location = window.location;
          window.location = response.redirect;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
      
      FB.getLoginStatus(function (response) {

            if (response.session) {
                // logged in and connected user, someone you know
                access_token=response.session.access_token;
                graphUrl = "https://graph.facebook.com/me?access_token=" +         response.session.access_token + "&callback=displayUser"
                var script = document.createElement("script");
                script.src = graphUrl;
                document.body.appendChild(script);


            } else {
                // no user session available, someone you dont know
                alert('not logged in')

            }});
    </script>

    <header class="clearfix">
      user<%=user %>
      <% if (user) { %>
      <p id="picture" style="background-image: url(https://graph.facebook.com/<%= user.id %>/picture?type=normal)"></p>

      <div>
        <h1>Welcome, <strong><%= user.name %></strong></h1>
        <p class="tagline">
          This is your app
          <a href="<%= app.link %>" target="_top"><%= app.name %></a>
        </p>

        <div id="share-app">
          <p>Share your app:</p>
          <ul>
            <li>
              <a href="#" class="facebook-button" id="postToWall" data-url="<%= url() %>">
                <span class="plus">Post to Wall</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url() %>">
                <span class="speech-bubble">Send Message</span>
              </a>
            </li>
            <li>
              <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                <span class="apprequests">Send Requests</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <% } else { %>
      <div>
        <h1>Welcome</h1>
        <div class="fb-login-button" data-scope="read_stream, read_friendlists"></div>
      </div>
      <% } %>
    </header>

    <% if (user) { %>

    <section id="samples" class="clearfix">
      <h1>The Friend List Tool</h1>
        <div  class="list">
          <a href="/list">Search  Tool</a>
          <a href="/help">Help</a>
        </div>

       <div class="searchformdiv">
        <h3>Friend Lists</h3>
        <form name="builder" action="">
        <select name="op" id="searchop">
          <option value="">IN</option>
          <option value="-">NOT IN</option>
         <!-- <option value="OR">OR</option>
          <option value="OR NOT">OR NOT</option> -->
        </select>
        <select id="friendlist_select" name="list" class="friends">
          <% req.friendlist.forEach(function(flist) { %>
            <option value="<%= flist.flid %>">
                <%= flist.name %>
       
            </option>
          <% }); %>
        </select><br />
        <input type="checkbox" name="runnow" id="srch-runnow" value="runnow">Run Immediately &nbsp; &nbsp;
        <input type="button" value="Add to List" id="buildergo" name ="buildergo" /><br />
       
          <select id="crit_list" name="crit_list" size="8"></select>
          <input type="button" value="Remove Selected" id="delcrit" /><br>
          <input type="button" value="Remove All" id="delallcrit" />
        <input type="radio" checked name="srch-view" id="srch-view-list" value="list">List/Email
        <input type="radio" name="srch-view" id="srch-view-stream" value="stream">Stream
        <input type="button" value="Run Search" id="searchgo" name="searchgo" />
        </form>
      </div>

    </section>
<div id="searchresults"></div>
    <% } %>

   
  </body>
</html>

